<ion-header>
  <ion-toolbar>
    <ion-title>Gerar Senhas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="gerarPrior()">
    Gerar Prioritária
  </ion-button>

  <ion-button expand="block" (click)="gerarGeral()">
    Gerar Geral
  </ion-button>

  <ion-button expand="block" (click)="gerarExame()">
    Gerar Exame
  </ion-button>

  <ion-button expand="block" color="danger" (click)="resetar()">
    Resetar Senhas
  </ion-button>

</ion-content>
